.first-name {
    text-decoration: underline;
}

.name-heading {
    font-size: 1.2em;
}

.small-heading {
    font-size: 0.6em;
}

.tagline {
    font-size: 0.8em;
    background: linear-gradient(135deg, #05dde4 0%, #ff00a2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}