* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 239, 213);
}

.categories {
    display:flex    ;
    justify-content: space-between;
    width: 80%;
    position: center;
    margin: 0% 10%;
}
  
.how-it-works-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.how-it-works-item {
    margin-bottom: 10px;
}
  
.description-container {
    width: 60%;
}
  
.description-item {
    margin-bottom: 30px;
}

img{ 
    display: inline-block;
    height: 10%;
    width: 10%;
    border: 5px solid;
    border-color: var(--sp-c);
    border-radius: 100%;
    margin: 0% 5%;

}