@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    font-size: 2rem;
    font-family: "Anta", sans-serif;
}

a {
    color: inherit;

    &:hover, &:focus {
        color: blue;
        text-decoration: none;
    }

    &:active {
        color: red;
    }
}

p {
    line-height: 4rem;

    span {
        padding: 0.5rem;
        border: 2px solid;
        border-radius: 3rem;
    }
}