body{
    background-color:#4bb17ecc;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #684544;
    overflow-x:hidden;

}
.header {
    height: auto;
    width: 100%;
    background-color: rgb(52, 52, 52);
    display: inline-block;
    position: fixed;
    padding: 1vh;
}
.search-icon{
    height: 5vh;
    width: auto;
    margin-top: 3vh;
    display: block;
    margin-right: 5vw;
    float: right;
}
.sitelogo{
    height: 10vh;
    width: auto;
    margin-left: 2%;
    margin-top: 1vh;
}
.sitelogo:hover{
    cursor: pointer;;
}

.search-icon:hover {
    cursor: pointer;
}
.para{
    width: 40%;
    font-size: medium;
}
.pfp{
    border-radius: 50%;
    height:200px;
    width: 200px;
    
}

#name{
    font-family: "Raleway", sans-serif;
    font-size: 1.45em;
    font-weight: 650;
    font-style: normal;
}
.LHS{
    margin-top:6vh;
    font-family: "Raleway", sans-serif;
    font-size: 1.15em;
    font-weight: 500;
    font-style: normal;
    text-align: center;

}
.RHS{
    margin-top: auto;
    margin-left: 10vw;
    vertical-align: top;
}

.contentalt{
    width: 100%;
    height: auto;
    background-color:  #684544;
    padding: 5em;
    color:#4bb17ecc;
}

p{
    width: 90%;
}
.content{
    width: 100%;
    height: auto;
    padding: 5em;
}
.Profile{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 5em;
    padding-top:12vh;
}
.gist{
    text-align: center;
}
.OL{
    
}
.footer{
    background-color: rgb(52, 52, 52);
    height: auto;
    width: 100%;
    display: flex;
    padding-left: 5vw;
    padding-top: 2vw;
    /* padding-bottom: 2vw; */
    padding-bottom: 5vw;
    align-items:center;
}
ul{
    color: white;
    list-style:none;
}

li{
    margin: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.subsAndSocial{
    color: white;
    text-align: center;
}

#Email{
    border-radius: 25px;
    border: 2px solid rgb(221, 203, 151);
    padding: 20px; 
    width: 200px;
    height: 6px; 
    background-color: rgb(52, 52, 52);
    color: rgb(221, 203, 151);
    margin-bottom: 10px;
}
.abtUS{
    text-decoration: none;
    color:rgb(221, 203, 151);
    text-align: middle;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}