<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for category in categories %}
    <h1>{{ category.name }}</h1>
    <ul>
        {% for name in category.names %}
        <li>
            <a href="tribute/profile/{{ category.name }}/{{ name }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>

</html>
